@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
  .menu-link-item {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
  }

  .menu-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)
  }

  .image-clip {
    clip-path: circle(37.9% at 50% 50%)
  }
}